header {
	padding: 1.5em;
	font-size: 1.5em;
	background: $bodyBG;
	color: $white;

	dl {
		span {
			color: $white;
		}
	}
	dt {
		color: $red;
	}

	dd {
		margin-left: 50px;
		color: $blue;

		h2 {
			display: inline-block;
		}
		
		strong {
			font-weight: 400;
			color: $purp;
		}
	}
}


.wrapper {
	margin: 0 auto;
	max-width: 960px;
}

// animate the typed.js cursor, yo...
.typed-cursor {
	-moz-animation: blink 0.7s infinite;
	-ms-animation: blink 0.7s infinite;
	-o-animation: blink 0.7s infinite;
	-webkit-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
		50% {
			opacity: 0;
	}
		100% {
			opacity: 1;
	}
}
@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
		50% {
			opacity: 0;
	}
		100% {
			opacity: 1;
	}
}
@-moz-keyframes blink {
	0% {
		opacity: 1;
	}
		50% {
			opacity: 0;
	}
		100% {
			opacity: 1;
	}
}
@-ms-keyframes blink {
	0% {
		opacity: 1;
	}
		50% {
			opacity: 0;
	}
		100% {
			opacity: 1;
	}
}
@-o-keyframes blink {
	0% {
		opacity: 1;
	}
		50% {
			opacity: 0;
	}
		100% {
			opacity: 1;
	}
}

article {
	padding: 2em;
}